
<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
   <!-- <title> Responsive Contact Us Form  | CodingLab </title>-->
    <link rel="stylesheet" href="/css/styleContact.css">
    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="content">
      <div class="left-side">
        <div class="address details">
          <i class="fas fa-map-marker-alt"></i>
          <div class="topic">Address</div>
          <div class="text-one">Kharar, Mohali</div>
          <div class="text-two">Punjab</div>
        </div>
        <div class="phone details">
          <i class="fas fa-phone-alt"></i>
          <div class="topic">Phone</div>
          <div class="text-one">6203610736</div>
          <div class="text-two">6201405510</div>
        </div>
        <div class="email details">
          <i class="fas fa-envelope"></i>
          <div class="topic">Email</div>
          <div class="text-one">21bcs1776@cuchd.in</div>
          <div class="text-two">6203610736r@gmail.com</div>
        </div>
      </div>
      <div class="right-side">
        <div class="topic-text">Details You entered</div>
        <p>Name:</p>
        <p><%= NameContent %></p>
      
        <div class="button">
          <input type="button" value="Thank You" >
        </div>
    
    </div>
    </div>
  </div>
</body>
</html>
