<%- include('partials/header'); -%>
<div class="jumbotron text-center">
    
      <h1 class="display-3 secret-text"style="font-size:33px" >Congratulations! You have registered successfully.</h1>
      
   
  </div>
  
  <div>
    <br>
    <br>
    <br>
    <br>
    <img class="title-image"src="images/image3.png" alt="Blog_image">
  </div>
  

<%- include('partials/footer'); -%>